/* CSS de la page d'accueil */
body .jumbotron p {
    line-height: 0.8;
    font-size: 20px;
}
body .jumbotron h1 {
    font-variant: small-caps;
    line-height: 2;
    font-size: 25px;
}
body .jumbotron {
    background-color : rgba(144, 164, 174, 0.7);
}
.item {
    height: 350px;
}
/* CSS du formulaire d'inscription */
.container {
    text-align: center;
    line-height: 40px;
}
#forms-title {
    font-variant: small-caps;
}
label {
    text-align: left;
}
#submit {
    margin-top: 30px;
}
.formValid {
    background-color: green;
    text-align: center;
    color: white;
}
/* CSS de bouton */
.btn-sample { 
  color: #ffffff; 
  background-color: #1B87BD; 
  border-color: #024A69; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #1B87BD; 
  border-color: #024A69; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #1B87BD; 
  border-color: #024A69; 
} 
 
.btn-sample .badge { 
  color: #1B87BD; 
  background-color: #ffffff; 
}